*
{
  font-size: 13px !important;
}
.brd  {
    border:1px solid black
}
.container {
    margin-top:1%;
    border-radius: 8px;
  }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input
{
  height: 30px !important;
}

.bodyContainer
{
  padding: 10px;
}

.headerBox
{
  padding-left: 10px; height: 35px;
}