<div class="container-fluid" style="background-color: rgb(92, 10, 168);">
  
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(92, 10, 168);">
  <a class="navbar-brand" href="#" style="color: white;">Patient System</a>
  <button class="navbar-toggler" style="border:3px solid white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span style="padding-right: 30px;"><i class="bi bi-envelope-fill" style="color:white"></i></span>
      <span style="padding-right: 30px;"><i class="bi bi-bell-fill" style="color:white"></i></span>
      <span style="padding-right: 30px;"><i class="bi bi-person-circle" (click)="logout()" title="logout"  style="color:white"></i></span>
    </form>
  </div>
</nav>


</div>

<router-outlet></router-outlet>